<div class="row">
  <div class="outer margin-top-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="middle">
      <div class="inline-block headerDetail">
        <span><img class="iconStyle" src="assets/icon_health.jpg" alt="Home"><span span routerLink="/home" class="margin-zero headingFont" >{{title}} </span><span routerLink="/account" routerLinkActive="active" style='float:right; margin-right: 15px;' > My Account {{icons.userIcon}}</span></span>
      </div>
    </div>
  </div>
</div>