<div id="container1">
    <h2 class="titleMed"> {{title}}</h2>
    <input class="inputMed" placeholder="Add New Medicine Reminder" type="text" #newTodo />
    <button (click)="addMedTodo(newTodo.value); newTodo.value=''"> Add</button>
    <table>
      <tr>
        <th style="width: 50%;"> Label</th>
        <th style="width: 20%;"> Date</th>
        <th style="width: 30%;">Action</th>
      </tr>
      <tr *ngFor="let todo of todos">
        <td>{{todo.label}}</td>
        <td>
          <mat-form-field color="accent" appearance="fill">
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </td>
        <td><span>
            <button (click)="deleteReminder(todo)">Delete</button>
          </span>
        </td>
  
      </tr>
    </table>
   
      
  </div>
