.header{
    top: 0;
    background-color: yellow;
    width:100%;
    position:absolute;
   }
  //  .footer{
  //    background-color: gray;
  //    position:absolute;
  //    bottom: 0;
  //    width:100%;
  //    padding-top: 5px;
  //    padding-bottom: 5px;
     
  //  }
   