<!-- Footer olnks -->
<div class="container-fluid">

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div>
      <ul>
        <span>Contact US:</span>
        <!-- olnks -->
        <ol style="color:olghtgrey; font-size: 17px;">
          <span>
            <a class="glyphicon glyphicon-earphone" href="#!">{{icons.contactIcon}}</a>
          </span>
          <span> {{detail.phone}}
          </span>
        </ol>
        <ol style="color:olghtgrey">
          <span>
            <a class="glyphicon glyphicon-earphone" href="#!">{{icons.emailIcon}}</a>
          </span>
          <span> {{detail.email}} 
          </span><span style="float:right;">© 2020 Copyright:<a href=""> healthcare.com</a></span>
        </ol>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer olnks -->
